body {
	font-size: 16px;
	
	background-color: #grey;
	font-family:'Oxygen', sans-serif;
	box-sizing: border-box;
}
#header-nav{
	background-color: green;
	border-radius: 0;
	border:0;
}
.navbar-brand {
	padding-top: auto;

}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: grey;
	text-align: center;
}
#nav-list a:hover {
	background: #e7e7e7;
}
#nav-list a span{
	font-size: .8em;
}
.navbar-brand h1 { /*Restaurant name*/
	font-family: "Oxygen", serif;
	color: #f7f8fc;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}



#chicken h4,#beef h4, #sushi h4{
	text-align: center;
	padding-bottom: 0;
	padding-top: 10px;

}





#main-content h2{
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}
.sub-content{
	background-color: grey;
	margin-bottom: 20px;

	
	
}
.sub-content span, div{
font-weight: 800 black solid;
font-family: arial black;
padding:0 10px 10px 10px;

}
.subcontent span{
	text-align: left;
}

/*large devices only*/
@media (min-width:1200px){

} 
/*meduim devices*/
@media (max-width: 1199px ) and (min-width:992px){

}
/*small devices*/
@media (min-width: 768px) and (max-width: 991px){
	
	
}
/*extra small devices*/
@media (max-width: 767px){
	.navbar-brand h1{
		padding-top: -10px;
		font-size: 4vw;
	}
}